name: Deploy Workflow
on:
  push:
    branches: [ master ]

jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to production server
        uses: appleboy/ssh-action@master
        with:
          host: 188.225.77.236
          username: developer
          key: ${{ secrets.ID_RSA }}
          script: |
            cd personal-cv
            git pull origin master
            bash deploy.sh